{block content}
<section class="detail-slider">
    <div class="slide-room-lg">
        <div id="slide-room-lg">
            <img n:foreach="$paths as $path" src="{$basePath}/{$path}" alt="">
        </div>
    </div>
    <div class="slide-room-sm">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="slide-room-sm">
                    <img n:foreach="$paths as $path" src="{$basePath}/{$path}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>