<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>{ifset title}{include title|striptags} | {/ifset}Nette Web</title>

	<!-- Font Google -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!-- End Font Google -->
	<!-- Library CSS -->
	<link rel="stylesheet" href="{$basePath}/css/library/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/library/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/library/jquery-ui.min.css">
	<link rel="stylesheet" href="{$basePath}/css/library/owl.carousel.css">
	<link rel="stylesheet" href="{$basePath}/css/library/jquery.mb.YTPlayer.min.css">
	<!-- End Library CSS -->
	<link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<!-- Preloader -->
	<div id="preloader">
		<div class="tb-cell">
			<div id="page-loading">
				<div></div>
				<p>Loading</p>
			</div>
		</div>
	</div>
	<!-- Wrap -->
	<div id="wrap">

		<!-- Header -->
		<header id="header" class="header" style="position: relative">
			<div class="container">
				<!-- Logo -->
				<div class="logo float-left">
					<a href="index.html" title=""><img src="{$basePath}/images/logo-header.png" alt=""></a>
				</div>
				<!-- End Logo -->
				<!-- Bars -->
				<div class="bars" id="bars"></div>
				<!-- End Bars -->

				<!--Navigation-->
				<nav class="navigation nav-c" id="navigation" data-menu-type="1200">
					<div class="nav-inner">
						<a href="#" class="bars-close" id="bars-close">Close</a>
						<div class="tb">
							<div class="tb-cell">
								<ul class="menu-list text-uppercase">
									<li>
										<a n:href=":Front:Homepage:default" title="">Home</a>
									</li>
									<li>
										<a href="#">Nature</a>
										<ul class="sub-menu">
											<li><a n:href="Europe" title="">Europe</a></li>
											<li><a n:href="Asia" title="">Asia</a></li>
											<li><a n:href="Africa" title="">Africa</a></li>
											<li><a n:href="Australia" title="">Australia</a></li>
											<li><a n:href="America" title="">America</a></li>
											<li><a n:href="NorthKorea" title="">North Korea</a></li>
										</ul>
									</li>
									<li>
										<a href="#" title="">Factory</a>
										<ul class="sub-menu">
											<li><a n:href="Europe" title="">Europe</a></li>
											<li><a n:href="Asia" title="">Asia</a></li>
											<li><a n:href="Africa" title="">Africa</a></li>
											<li><a n:href="Australia" title="">Australia</a></li>
											<li><a n:href="America" title="">America</a></li>
											<li><a n:href="NorthKorea" title="">North Korea</a></li>
										</ul>
									</li>
									<li>
										<a href="#" title="">Porn star</a>
										<ul class="sub-menu">
											<li><a n:href="Europe" title="">Europe</a></li>
											<li><a n:href="Asia" title="">Asia</a></li>
											<li><a n:href="Africa" title="">Africa</a></li>
											<li><a n:href="Australia" title="">Australia</a></li>
											<li><a n:href="America" title="">America</a></li>
											<li><a n:href="NorthKorea" title="">North Korea</a></li>
										</ul>
									</li>
									<li>
										<a href="#" title="">Programmers</a>
										<ul class="sub-menu">
											<li><a n:href="Europe" title="">Europe</a></li>
											<li><a n:href="Asia" title="">Asia</a></li>
											<li><a n:href="Africa" title="">Africa</a></li>
											<li><a n:href="Australia" title="">Australia</a></li>
											<li><a n:href="America" title="">America</a></li>
											<li><a n:href="NorthKorea" title="">North Korea</a></li>
										</ul>
									</li>
									<li>
										<a href="#" title="">Celebrity</a>
										<ul class="sub-menu">
											<li><a n:href="Europe" title="">Europe</a></li>
											<li><a n:href="Asia" title="">Asia</a></li>
											<li><a n:href="Africa" title="">Africa</a></li>
											<li><a n:href="Australia" title="">Australia</a></li>
											<li><a n:href="America" title="">America</a></li>
											<li><a n:href="NorthKorea" title="">North Korea</a></li>
										</ul>
									</li>
									<li class="current-menu-parent">
										<a n:href="Homepage:default" title="">Upload</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
				<!--End Navigation-->
			</div>
		</header>
		<!-- End Header -->


		<!--Banner-->
		<section class="sub-banner">
			<!--Background-->
			<div class="bg-parallax bg-1"></div>
			<!--End Background-->
			<!-- Logo -->
			<div class="logo-banner text-center">
				<a href="" title="">
					<img src="images/logo-banner.png" alt="">
				</a>
			</div>
			<!-- Logo -->
		</section>
		<!--End Banner-->

		<!-- Main -->
		<div class="main">
			<div class="container">
				{include content}
			</div>
		</div>
	</div>

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<!-- Library JS -->
	<script type="text/javascript" src="{$basePath}/js/library/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="{$basePath}/js/library/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/owl.carousel.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/parallax.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/jquery.nicescroll.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/jquery.mb.YTPlayer.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/library/SmoothScroll.js"></script>
	<!-- End Library JS -->
	<!-- Main Js -->
	<script type="text/javascript" src="{$basePath}/js/script.js"></script>
	<!-- End Main Js -->
	{/block}
</body>
</html>