{block content}

<div class="main-cn bg-white">
    <div class="row">
        <div class="col-lg-push-4 col-lg-4">
            {form uploadForm}
            <div class="form-field">
                {input images}
            </div>
            <div class="text-center">
                {input upload}
            </div>
            {/form}
        </div>
    </div>
</div>